//- LaTex
script(async src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML" integrity="sha384-crwIf/BuaWM9rM65iM+dWFldgQ1Un8jWZMuh3puxb8TOY9+linwLoI7ZHZT+aekW" crossorigin="anonymous")

//- Comment
if theme.disqus
    script.
        var disqus_config = function () {
            this.page.url = '#{config.url}/#{page.path}';
            this.page.identifier = '#{page.title}';
        };
    script(async, src='https://#{theme.disqus}.disqus.com/embed.js')

if theme.livere
    script(async, src='https://cdn-city.livere.com/js/embed.dist.js')

//- Analytics tracking
if theme.ga
    script(async, src="https://www.googletagmanager.com/gtag/js?id=#{theme.ga}")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '#{theme.ga}');